# Tracker Update Functions
Sam Ko<br>Mar 27, 2020

The purpose of this notebook is as follows:<br>
1. Create a function that grabs data from MongoDB (COVID19-DB/CDC-TimeSeries table)

2. Create a function that takes in the dataset CDC-TimeSeries from MongoDB and spits out country, date, total_num_infections, total_num_deaths. 

3. Create a function that takes in CDC-TimeSeries from MongoDB and spits out country, days_since_first_infection, total_num_infections, total_num_deaths.


There are 2 functions that are created: **tracker_update()** and **cml_tracker_update()**.<br>Once run, both functions will each show the output in the notebook and export the output as a csv file as well.

In [1]:
def mongodb_import(db_name):
    """
    This is a function that can quickly imports the database from MongoDB and put it into a dataframe. 
    The exact name of the database has to be know to call the function, as shown below.
    
    """
    import pandas as pd
    import pymongo
    from pymongo import MongoClient
    import warnings
    warnings.filterwarnings("ignore")
    
    client = pymongo.MongoClient("mongodb://analyst:grmds@3.101.18.8/COVID19-DB") # defaults to port 27017
    db = client['COVID19-DB']
    cdc_ts = pd.DataFrame(list(db[db_name].find({})))
    return cdc_ts

In [2]:
df = mongodb_import('CDC-TimeSeries')
df.head()

,_id,Province/State,Country/Region,Latitude,Longitude,Confirmed,Date,Death,Recovery
0,5e78dfab674e1af34ddc0bfd,,Thailand,15,101,2,2020-01-22,0,0
1,5e78dfab674e1af34ddc0bfe,,Thailand,15,101,3,2020-01-23,0,0
2,5e78dfab674e1af34ddc0bff,,Thailand,15,101,5,2020-01-24,0,0
3,5e78dfab674e1af34ddc0c00,,Thailand,15,101,7,2020-01-25,0,0
4,5e78dfab674e1af34ddc0c01,,Thailand,15,101,8,2020-01-26,0,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29707 entries, 0 to 29706
Data columns (total 9 columns):
_id               29707 non-null object
Province/State    29707 non-null object
Country/Region    29707 non-null object
Latitude          29707 non-null object
Longitude         29707 non-null object
Confirmed         29707 non-null object
Date              29707 non-null datetime64[ns]
Death             29707 non-null object
Recovery          29707 non-null object
dtypes: datetime64[ns](1), object(8)
memory usage: 2.0+ MB

### Tracker Update Function

In [4]:
def tracker_update():
    """
    The purpose of this function is as follows:
    1. Import data from the CDC-TimeSeries table using the function above
    2. Based on the data, returns 4 columns: country, date, num_infections, and num_deaths
    
    """ 
    import pandas as pd
    import pymongo
    from pymongo import MongoClient
    import warnings
    warnings.filterwarnings("ignore")
    
    df = mongodb_import('CDC-TimeSeries')
    df = df.loc[:,['Country/Region','Date','Confirmed','Death']]
    df['Confirmed'] = df['Confirmed'].astype(int)
    df['Death'] = df['Death'].astype(int)

    tracker = pd.DataFrame(columns=['num_infections', 'num_deaths'])

    tracker['num_infections'] = df.groupby(['Country/Region','Date'])['Confirmed'].sum()
    tracker['num_deaths'] = df.groupby(['Country/Region','Date'])['Death'].sum()
    tracker.reset_index(inplace= True)
    tracker.rename(columns={"Country/Region": "country", "Date": "date"}, inplace = True)
    return tracker

In [5]:
tracker_update()

           country       date  num_infections  num_deaths
0      Afghanistan 2020-01-22               0           0
1      Afghanistan 2020-01-23               0           0
2      Afghanistan 2020-01-24               0           0
3      Afghanistan 2020-01-25               0           0
4      Afghanistan 2020-01-26               0           0
...            ...        ...             ...         ...
10426     Zimbabwe 2020-03-18               0           0
10427     Zimbabwe 2020-03-19               0           0
10428     Zimbabwe 2020-03-20               1           0
10429     Zimbabwe 2020-03-21               3           0
10430     Zimbabwe 2020-03-22               3           0

[10431 rows x 4 columns]

### Cumulative Tracker Update Function

In [6]:
def cml_tracker_update():  
    """
    The purpose of this function is as follows:
    1. Call the tracker_update() function created above
    2. Create "days_since_first_infection" column that shows how many days since the first occurrence of infection
        - ex) -10 means 10 days until the first infection and 10 means 10 days since the first infection
    3. Create 2 new columns (total_num_infections and total_num_deaths) that calculates the cumulated sum for each category
    
    """
    
    tracker = tracker_update()
    from datetime import datetime, timedelta
    tracker['days_since_first_infection'] = ""

    country = []
    first_infection = []
    for name, group in tracker.groupby('country'):
        first = next(x for x, val in enumerate(group.num_infections) if val > 0)
        first_date = group.iloc[first,1] 
        first_infection.append(first_date)
        country.append(name)

    for x in range(0,len(country)):
        for i in range(0,len(tracker)):
            infection_date = first_infection[x]
            if tracker.iloc[i,0] == country[x] and tracker.iloc[i,1] == infection_date:
                tracker.iloc[i,4] = 1
            elif tracker.iloc[i,0] == country[x] and tracker.iloc[i,1] >= infection_date:
                tracker.iloc[i,4] = tracker.iloc[i-1,4] + 1
            elif tracker.iloc[i,0] == country[x] and tracker.iloc[i,1] < infection_date:
                tracker.iloc[i,4] = (tracker.iloc[i,1]-infection_date).days

    tracker["total_num_infections"] = tracker.groupby('country')['num_infections'].cumsum()
    tracker["total_num_deaths"] = tracker.groupby('country')['num_deaths'].cumsum()
    tracker_cml = tracker.drop(['num_infections','num_deaths'], axis=1)
    return tracker_cml

In [7]:
cml_tracker_update()

,country,date,days_since_first_infection,total_num_infections,total_num_deaths
0,Afghanistan,2020-01-22,-33,0,0
1,Afghanistan,2020-01-23,-32,0,0
2,Afghanistan,2020-01-24,-31,0,0
3,Afghanistan,2020-01-25,-30,0,0
4,Afghanistan,2020-01-26,-29,0,0
...,...,...,...,...,...
10426,Zimbabwe,2020-03-18,-2,0,0
10427,Zimbabwe,2020-03-19,-1,0,0
10428,Zimbabwe,2020-03-20,1,1,0
10429,Zimbabwe,2020-03-21,2,4,0
10430,Zimbabwe,2020-03-22,3,7,0

In [8]:
# saving to cvs file commented out 

#tracker = tracker_update()
#tracker.to_csv('tracker.csv',index=False)

#cml_tracker = cml_tracker_update()
#cml_tracker.to_csv('cml_tracker.csv',index=False)