# Tracker Update Functions
Sam Ko<br>Mar 27, 2020

The purpose of this notebook is as follows:<br>
1. Create a function that grabs data from MongoDB (COVID19-DB/CDC-TimeSeries table)

2. Create a function that takes in the dataset CDC-TimeSeries from MongoDB and spits out country, date, total_num_infections, total_num_deaths. 

3. Create a function that takes in CDC-TimeSeries from MongoDB and spits out country, days_since_first_infection, total_num_infections, total_num_deaths.

4. Create a function that builds visualization that compares each country chosen by the user.

There are 2 functions that are created: **tracker_update()** and **cml_tracker_update()**.<br>Once run, both functions will each show the output in the notebook and export the output as a csv file as well.

In [1]:
def mongodb_import(db_name):
    """
    Import the database from MongoDB and put it into a dataframe. 
    The exact name of the database has to be know to call the function, as shown below.
    
    """
    import pandas as pd
    import pymongo
    from pymongo import MongoClient
    import warnings
    warnings.filterwarnings("ignore")
    
    client = pymongo.MongoClient("mongodb://analyst:grmds@3.101.18.8/COVID19-DB") # defaults to port 27017
    db = client['COVID19-DB']
    cdc_ts = pd.DataFrame(list(db[db_name].find({})))
    return cdc_ts

In [2]:
df = mongodb_import('CDC-TimeSeries')
df.head()

,_id,Province/State,Country/Region,Latitude,Longitude,Confirmed,Date,Death,Recovery
0,5e8a29c9cd03d2bcc9511659,,Afghanistan,33.0,65.0,0,2020-01-22,0,0
1,5e8a29c9cd03d2bcc951165a,,Afghanistan,33.0,65.0,0,2020-01-23,0,0
2,5e8a29c9cd03d2bcc951165b,,Afghanistan,33.0,65.0,0,2020-01-24,0,0
3,5e8a29c9cd03d2bcc951165c,,Afghanistan,33.0,65.0,0,2020-01-25,0,0
4,5e8a29c9cd03d2bcc951165d,,Afghanistan,33.0,65.0,0,2020-01-26,0,0

In [3]:
test = mongodb_import('DXY-TimeSeries')
test

,_id,country,province,provinceZipCode,provinceConfirmed,provinceSuspected,provinceRecoveryed,provinceDeaths,city,cityZipCode,cityConfirmed,citySuspected,cityRecoveryed,cityDeaths,updateDate
0,5e8a43e3cd03d2bcc9517245,Italy,Italy,965008,128948,0,21815,15887,,,0,0,0,0,2020-04-06 00:58:40
1,5e8a43e3cd03d2bcc9517246,Germany,Germany,963003,91714,0,8481,1342,,,0,0,0,0,2020-04-06 00:58:40
2,5e8a43e3cd03d2bcc9517247,Switzerland,Switzerland,963008,21100,0,6415,666,,,0,0,0,0,2020-04-06 00:58:40
3,5e8a43e3cd03d2bcc9517248,Canada,Canada,971001,14022,0,2770,234,,,0,0,0,0,2020-04-06 00:58:40
4,5e8a43e3cd03d2bcc9517249,Norway,Norway,962004,5686,0,0,70,,,0,0,0,0,2020-04-06 00:58:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29540,5e8a48cccd03d2bcc951e5a9,China,Yunnan,530000,1,0,0,0,,,0,0,0,0,2020-01-22 03:28:10
29541,5e8a48cccd03d2bcc951e5aa,China,Jilin,220000,0,1,0,0,,,0,0,0,0,2020-01-22 03:28:10
29542,5e8a48cdcd03d2bcc951e5ab,China,Taiwan,710000,1,0,0,0,,,0,0,0,0,2020-01-22 03:28:10
29543,5e8a48cdcd03d2bcc951e5ac,Hongkong,Hongkong,810000,0,117,0,0,,,0,0,0,0,2020-01-22 03:28:10
29544,5e8a48cdcd03d2bcc951e5ad,China,Heilongjiang,230000,0,1,0,0,,,0,0,0,0,2020-01-22 03:28:10

In [4]:
df = mongodb_import('CDC-TimeSeries')
df = df.loc[:,['Country/Region','Date','Confirmed','Death']].fillna(0)
df['Confirmed'] = df['Confirmed'].astype(int)
df['Death'] = df['Death'].astype(int)
df

      Country/Region       Date  Confirmed  Death
0        Afghanistan 2020-01-22          0      0
1        Afghanistan 2020-01-23          0      0
2        Afghanistan 2020-01-24          0      0
3        Afghanistan 2020-01-25          0      0
4        Afghanistan 2020-01-26          0      0
...              ...        ...        ...    ...
23527             US 2020-03-31        103      3
23528             US 2020-04-01        103      3
23529             US 2020-04-02        103      3
23530             US 2020-04-03        103      3
23531             US 2020-04-04        103      3

[23532 rows x 4 columns]

### Tracker Update Function

In [5]:
def tracker_update():
    """
    The purpose of this function is as follows:
    1. Import data from the CDC-TimeSeries table using the function above
    2. Based on the data, returns 4 columns: country, date, num_infections, and num_deaths
    
    """ 
    import pandas as pd
    import pymongo
    from pymongo import MongoClient
    import warnings
    warnings.filterwarnings("ignore")
    
    df = mongodb_import('CDC-TimeSeries')
    df = df.loc[:,['Country/Region','Date','Confirmed','Death']].fillna(0)
    df['Confirmed'] = df['Confirmed'].astype(int)
    df['Death'] = df['Death'].astype(int)

    tracker = pd.DataFrame(columns=['num_infections', 'num_deaths'])

    tracker['num_infections'] = df.groupby(['Country/Region','Date'])['Confirmed'].sum()   
    tracker['num_deaths'] = df.groupby(['Country/Region','Date'])['Death'].sum()    
        
    tracker.reset_index(inplace= True)
    tracker.rename(columns={"Country/Region": "country", "Date": "date"}, inplace = True)
    
    # I realized the original dataset was in cumulative terms already --> had to un-cumulate
    tracker['num_infections'] = tracker.groupby(['country'])['num_infections'].diff().fillna(0)
    tracker['num_deaths'] = tracker.groupby(['country'])['num_deaths'].diff().fillna(0)
    
    return tracker

In [6]:
tracker = tracker_update()
#tracker.to_csv('tracker.csv',index=False)
tracker

           country       date  num_infections  num_deaths
0      Afghanistan 2020-01-22             0.0         0.0
1      Afghanistan 2020-01-23             0.0         0.0
2      Afghanistan 2020-01-24             0.0         0.0
3      Afghanistan 2020-01-25             0.0         0.0
4      Afghanistan 2020-01-26             0.0         0.0
...            ...        ...             ...         ...
13389     Zimbabwe 2020-03-31             1.0         0.0
13390     Zimbabwe 2020-04-01             0.0         0.0
13391     Zimbabwe 2020-04-02             1.0         0.0
13392     Zimbabwe 2020-04-03             0.0         0.0
13393     Zimbabwe 2020-04-04             0.0         0.0

[13394 rows x 4 columns]

### Cumulative Tracker Update Function

In [7]:
def cml_tracker_update():  
    """
    The purpose of this function is as follows:
    1. Call the tracker_update() function created above
    2. Create "days_since_first_infection" column that shows how many days since the first occurrence of infection
        - ex) -10 means 10 days until the first infection and 10 means 10 days since the first infection
    3. Create 2 new columns (total_num_infections and total_num_deaths) that calculates the cumulated sum for each category
    
    Note that this function may not be efficient as it can be. If anyone else on the team has a better idea, please feel free to update it!
    """
    
    tracker = tracker_update()
    from datetime import datetime, timedelta
    tracker['days_since_first_infection'] = ""

    country = []
    first_infection = []
    for name, group in tracker.groupby('country'):
        first = next(x for x, val in enumerate(group.num_infections) if val > 0)
        first_date = group.iloc[first,1] 
        first_infection.append(first_date)
        country.append(name)

    for x in range(0,len(country)):
        for i in range(0,len(tracker)):
            infection_date = first_infection[x]
            if tracker.iloc[i,0] == country[x] and tracker.iloc[i,1] == infection_date:
                tracker.iloc[i,4] = 1
            elif tracker.iloc[i,0] == country[x] and tracker.iloc[i,1] >= infection_date:
                tracker.iloc[i,4] = tracker.iloc[i-1,4] + 1
            elif tracker.iloc[i,0] == country[x] and tracker.iloc[i,1] < infection_date:
                tracker.iloc[i,4] = (tracker.iloc[i,1]-infection_date).days

    tracker["total_num_infections"] = tracker.groupby('country')['num_infections'].cumsum()
    tracker["total_num_deaths"] = tracker.groupby('country')['num_deaths'].cumsum()
    
    
    tracker_cml = tracker.drop(['num_infections','num_deaths'], axis=1)
    return tracker_cml

In [8]:
cml_tracker = cml_tracker_update()
#cml_tracker.to_csv('cml_tracker.csv',index=False)
cml_tracker

,country,date,days_since_first_infection,total_num_infections,total_num_deaths
0,Afghanistan,2020-01-22,-33,0.0,0.0
1,Afghanistan,2020-01-23,-32,0.0,0.0
2,Afghanistan,2020-01-24,-31,0.0,0.0
3,Afghanistan,2020-01-25,-30,0.0,0.0
4,Afghanistan,2020-01-26,-29,0.0,0.0
...,...,...,...,...,...
13389,Zimbabwe,2020-03-31,12,8.0,1.0
13390,Zimbabwe,2020-04-01,13,8.0,1.0
13391,Zimbabwe,2020-04-02,14,9.0,1.0
13392,Zimbabwe,2020-04-03,15,9.0,1.0
13393,Zimbabwe,2020-04-04,16,9.0,1.0